body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    overflow-x: hidden;
}

*{
 padding: 0px;
}

a {
    text-decoration: none;
}


/* Menu */
/* Menu */
nav {
    display: flex;
    justify-content: space-around; /* Meio da tela */
    align-items: center;
    height: 6vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 2px;
    margin: 20px;
}

.nav-list a{
    transition: 0.3s;
    color: #fff;
}

.nav-list a:hover {
     opacity: 0.5;
     transition: 0.3s;
     text-decoration: none;
}

.header {
    background-image: url("imgs/BG1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115vh;
    padding: 40px;
}

.container h1{
    color:rgb(223, 173, 10);
    margin: 100px;
}

.container p {
    color:#fff;
    font-size: 30px;
}





/* Parallax */
/* Parallax */
section:nth-of-type(1) {
    width: 100%;
    height:96vh;
    padding: 40px;
}



/* CARDS */
/* CARDS */
.card-fundo h1{
 font-size: 30px;
 color: black;
}

.card-fundo p{
   font-size: 18px;
   color: black;
}

.card-fundo{
    position: relative;
    height: 50vh;
    width: 80vw;
    border-style: solid;
    border-radius: 10px;
    border-color: #fff;
    box-shadow: 5px 5px 10px #363636;
    padding: 2rem 2rem;
    background-color: #fff;
    margin-top: 340px;
    left: 7vw;
}


.container-card{
    padding: 4rem 4rem;
    margin-bottom: 8rem;
    margin-top: 100px;
}

.container-card h1{
font-size: 30px;
}

.container-card p{
    font-size: 18px;
}



.card-formacao{
    width: 50vw;
    height: 34vh;
    padding: 2rem 2rem;
    display: flex;
}

.card-qualidades{
    width: 30vw;
    height: 60vh;
    padding: 2rem 2rem;
    margin-bottom: 8rem;
    margin-top: 3rem;
    align-items: center;
    float: right;

}

.card-cursos{
    width: 50vw;
    height: 48vh;
    border-radius: 6px;
    padding: 2rem 2rem;
    margin-bottom: 8rem;
    align-items: center;
    
}


.card-conhecimentos{
    width: 50vw;
    height: 60vh;
    padding: 0rem 2rem;
    align-items: center;
}

 section{
    
 }



/* ANIMAÇÃO DOS CARDS */
/* ANIMAÇÃO DOS CARDS */

[data-anime]{
    opacity: 0;
    transition: 0.3s;
}

[data-anime="left"]{
    transform: translate3d(-100px, 0px, 0px); /* Jogando o cards para a esquerda, para quando for feita a animação, eles serem jogados pra posição 0 */
    
}
[data-anime="top"]{
    transform: translate3d(0px, -100px, 0px); /* Jogando o cards para o topo, para quando for feita a animação, eles serem jogados pra posição 0 */
    
}

[data-anime="right"]{
    transform: translate3d(500px, 0px, 0px); /* Jogando o cards para a direita, para quando for feita a animação, eles serem jogados pra posição 0 */
    
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px , 0px, 0px);
}



#btn-curriculo{
    border-color: black;
    transition: 0.3s;
}

#btn-curriculo:hover{
    opacity: 0.9;
    transition: 0.3s;
}


@media screen and (max-height: 632px){
    
    
.card-fundo{
    position: relative;
    height: 60vh;
    width: 70vw;
    border-style: solid;
    border-radius: 10px;
    border-color: #fff;
    box-shadow: 5px 5px 10px #363636;
    padding: 2rem 2rem;
    background-color: #fff;
    margin-top: 340px;
    left: 7vw;
}

.container-card{
        margin-top: 45vh;
    }
    }
    
    

    @media screen and (max-width: 1098px){
        
        
    .card-fundo{
        position: relative;
        height: 80vh;
        width: 70vw;
        border-style: solid;
        border-radius: 10px;
        border-color: #fff;
        box-shadow: 5px 5px 10px #363636;
        padding: 2rem 2rem;
        background-color: #fff;
        margin-top: 340px;
        left: 7vw;
    }
    
    }

    
@media screen and (max-width: 840px){
    
    
    .card-fundo{
        position: relative;
        height: 120vh;
        width: 70vw;
        border-style: solid;
        border-radius: 10px;
        border-color: #fff;
        box-shadow: 5px 5px 10px #363636;
        padding: 2rem 2rem;
        background-color: #fff;
        margin-top: 340px;
        left: 7vw;
    }

    .container-card{
        margin-top: 45vh;
    }
    }
    
    
    
@media screen and (max-width: 1000px){
    
    .container-card{
        margin-top: 85vh;
    }
    }


        
@media screen and (max-width: 780px){
    
    .container-card{
        margin-top: 135vh;
    }
    }